* {
    font-family: 'JetBrains Mono', sans-serif;
}

body {
    margin: 0;
    background-image: url('src/assets/background.png') !important;
}

.white {
    color: white;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
    height: fit-content;
    padding: 0;
}

.signal-mode-selection-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.signal-mode-selection {
    background: none;
    color: white;
    border: none;
    font-size: 16px;
}

.signal-mode-selection:hover {
    text-decoration: underline;
    cursor: pointer;
}

.signal-mode-wrapper {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #8A8A8A;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vertical-divider {
    width: 1px;
    background-color: white;
    height: 100%;
}

body {
    background-color: black !important;
}

.active-button {
    color: #52ACFF;
}

.planet-container {
    display: flex;
    width: 200px;
    height: 200px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.main-content-container {
    display: flex;
    justify-content: center;
}

.connection-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.total-power {
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 5px;
    color: white;
}

.power-readout {
    font-weight: bold;
    color: #FFDB5B;
}

.settings-container {
    border: 1px solid gray;
    width: 1150px;
    display: flex;
    padding-bottom: 10px;
    justify-content: space-around;
    border-radius: 25px;
    backdrop-filter: blur(3px);
    margin-bottom: 50px;
}

.settings-column {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-centered {
    text-align: center;
}

.button-active {
    border: 2px solid #4F92D0 !important;
    border-radius: 10px;
}

.styled-div {
    width: 258px;
    height: 60px;
    text-align: left;
    margin-bottom: 10px;
    border: 1px solid #676767;
    border-radius: 10px;
    background-color: #1F1F1F;
    color: white;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-right: 10px;
}

.styled-button-alt {
    width: 300px;
    height: 60px;
    text-align: center;
    margin-bottom: 10px;
    border: 1px solid #676767;
    border-radius: 10px;
    background-color: #1F1F1F;
    color: white;
    cursor: pointer ;
    font-size: 16px;
}

.styled-button-alt:hover {
    background-color: #434343;
    border: 1px solid #757575;
}

.delete-button {
    height: 60px;
    background-color: #9F2C2C;
    border: 1px solid #D76F6F;
    color: white;
    border-radius: 10px;
    width: 30px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #BB4E4E;
    border: 1px solid #DB7C7C;
}

.icon-container {
    width: 40px;
    height: 40px;
    background-color: #676767;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    justify-content: center;
    max-width: 35px;
    max-height: 35px;
    aspect-ratio: auto;
}

.footer {
    text-align: left;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    left: 10px;
    bottom: 10px;
    width: 100%;
    font-size: 12px;
    color: #676767;
    z-index: -1;
}

.version-text {
    padding-right: 20px;
}

.menu-item:hover {
    background-color: #424242;
    border-radius: 5px;
}

.planet-select {
    background-color: #1f1f1f;
    color: white;
    border: 1px solid #424242;
    font-size: 16px;
    border-radius: 5px;
    text-align: center;
    padding: 3px;
    margin-bottom: 240px;
}

.component-name {
    white-space: nowrap;
    overflow: hidden;
    width: 190px;
    text-overflow: ellipsis;
}

.modal-close-button:hover {
    background-color: #BB4E4E !important;
    border: 1px solid #DB7C7C !important;
}

.modal-submit-button {
    background-color: #313131 !important;
}

.modal-submit-button:hover {
    background-color: #434343 !important;
}

.info-link:hover {
    text-decoration: underline;
}

.relay-span {
    width: 190px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chakra-form__required-indicator {
    color: #fc8181 !important;
}